/* ==========================================================================
   Plugins
========================================================================== */    

    /* Estilos Específicos deste site */

/* ==========================================================================
   @ Template
========================================================================== */

    html, body{height: 100%;}
    body > #wrapper      {height: auto; min-height: 100%; overflow-x: hidden}


    #wrapper{
        position: relative;
    }        
    

    #content {
        @extend .container;
        
    }


/* ==========================================================================
   INTERNAS
========================================================================== */

