/* ==========================================================================
   Plugins
========================================================================== */

    /* Caroufredsel */

        .list_carousel {
            width: 944px;
            height: 464px;
            overflow: hidden;
            position: relative;
        }
            .list_carousel ul {
                list-style: none;
                display: block;
            }
                .list_carousel li {
                    width: 944px;
                    height: 464px;
                    display: block;
                    float: left;
                    position: relative;
                }
                    .list_carousel li span{
                        font-family: Cubano;
                        font-size: 55px;
                        color: #508c0f;
                        position: absolute;
                        top: 304px;
                        left: 45px;
                        line-height: 41px;
                        z-index: 2;
                    }
            .prev, .next {
                display: block;
                position: absolute;
                width: 41px;
                background-image: url(../img/banner-nav.png);
                background-repeat: no-repeat;
                z-index: 99;
            }
            .prev {
                background-position: left center;
                left: 0;
            }
            .next {
                background-position: right center;
                right: 0;
            }

            #prev-banner, #next-banner {
                top: 0;
                height: 464px;
            }
            #prev-banner {
                background-position: left 180px;
            }
            #next-banner {
                background-position: right 180px;
            }
    /* Chosen */
        .chosen-container{
            position:relative;
            display:inline-block ;
            vertical-align:middle;
            font-size:13px;
            zoom:1;
            *display:inline;
            -webkit-user-select:none;
            -moz-user-select:none;
            user-select:none
            }
            .chosen-container .chosen-drop{
                position:absolute;
                top:100%;
                left:-9999px;
                z-index:1010;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                width:100%;
                border-top:0;
                background:#fff;
                -webkit-box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;
                -moz-box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;
                box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;

                }
            .chosen-container.chosen-with-drop .chosen-drop{
                left:0
                }
            .chosen-container a{
                cursor:pointer
                }
            .chosen-container-single .chosen-single{
                position:relative;
                display:block;
                overflow:hidden;
                padding:0 0 0 8px;
                height:27px;
                margin-bottom:8px;
                background-clip:padding-box;
                text-decoration:none;
                white-space:nowrap;
                line-height:32px;
                -webkit-box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;
                -moz-box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;
                box-shadow:inset 0 1px #c0c0c0, inset 0 0 0 1px #d9d9d9;

                }
            .chosen-container-single .chosen-default{
                color:#666666
                }
            .chosen-container-single .chosen-single span{
                display:block;
                overflow:hidden;
                margin-right:32px;
                text-overflow:ellipsis;
                white-space:nowrap
                }
            .chosen-container-single .chosen-single span:hover{
                text-decoration:none
                }
            .chosen-container-single .chosen-single-with-deselect span{
                margin-right:38px
                }
            .chosen-container-single .chosen-single abbr{
                position:absolute;
                top:6px;
                right:26px;
                display:block;
                width:12px;
                height:12px;
                background:url(../plugins/chosen/chosen-sprite.png) -42px 1px no-repeat;
                font-size:1px
                }
            .chosen-container-single .chosen-single abbr:hover,.chosen-container-single.chosen-disabled .chosen-single abbr:hover{
                background-position:-42px -10px
                }
            .chosen-container-single .chosen-single div{
                position:absolute;
                top:0;
                right:0;
                display:block;
                width:18px;
                height:100%
                }
            .chosen-container-single .chosen-single div b{
                display:block;
                width:100%;
                height:100%;
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 0 4px
                }
            .chosen-container-single .chosen-search{
                position:relative;
                z-index:1010;
                margin:0;
                padding:3px 4px;
                white-space:nowrap
                }
            .chosen-container-single .chosen-search input[type=text]{
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                margin:1px 0;
                padding:4px 20px 4px 5px;
                width:100%;
                height:auto;
                outline:0;
                border:1px solid #aaa;
                background:#fff url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px;
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px,-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px,-webkit-linear-gradient(#eee 1%,#fff 15%);
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px,-moz-linear-gradient(#eee 1%,#fff 15%);
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px,-o-linear-gradient(#eee 1%,#fff 15%);
                background:url(../plugins/chosen/chosen-sprite.png) no-repeat 100% -20px,linear-gradient(#eee 1%,#fff 15%);
                font-size:1em;
                font-family:sans-serif;
                line-height:normal;
                border-radius:0
                }
            .chosen-container-single .chosen-drop{
                margin-top:-9px;
                border-radius:0 0 4px 4px;
                background-clip:padding-box
                }
            .chosen-container-single.chosen-container-single-nosearch .chosen-search{
                position:absolute;
                left:-9999px
                }
            .chosen-container .chosen-results{
                position:relative;
                overflow-x:hidden;
                overflow-y:auto;
                margin:0 4px 4px 0;
                padding:0 0 0 4px;
                max-height:240px;
                -webkit-overflow-scrolling:touch
                }
            .chosen-container .chosen-results li{
                display:none;
                margin:0;
                padding:5px 6px;
                list-style:none;
                line-height:15px
                }
            .chosen-container .chosen-results li.active-result{
                display:list-item;
                cursor:pointer
                }
            .chosen-container .chosen-results li.disabled-result{
                display:list-item;
                color:#ccc;
                cursor:default
                }
            .chosen-container .chosen-results li.highlighted{
                color:#fff;
                background-color:#555;

                }
            .chosen-container .chosen-results li.no-results{
                display:list-item;
                background:#f4f4f4
                }
            .chosen-container .chosen-results li.group-result{
                display:list-item;
                font-weight:700;
                cursor:default
                }
            .chosen-container .chosen-results li.group-option{
                padding-left:15px
                }
            .chosen-container .chosen-results li em{
                font-style:normal;
                text-decoration:underline
                }
            .chosen-container-multi .chosen-choices{
                position:relative;
                overflow:hidden;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                margin:0;
                padding:0;
                width:100%;
                height:auto!important;
                height:1%;
                border:1px solid #aaa;
                background-color:#fff;
                background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
                background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);
                background-image:-moz-linear-gradient(#eee 1%,#fff 15%);
                background-image:-o-linear-gradient(#eee 1%,#fff 15%);
                background-image:linear-gradient(#eee 1%,#fff 15%);
                cursor:text
                }
            .chosen-container-multi .chosen-choices li{
                float:left;
                list-style:none
                }
            .chosen-container-multi .chosen-choices li.search-field{
                margin:0;
                padding:0;
                white-space:nowrap
                }
            .chosen-container-multi .chosen-choices li.search-field input[type=text]{
                margin:1px 0;
                padding:5px;
                height:15px;
                outline:0;
                border:0!important;
                background:transparent!important;
                box-shadow:none;
                color:#666;
                font-size:100%;
                font-family:sans-serif;
                line-height:normal;
                border-radius:0
                }
            .chosen-container-multi .chosen-choices li.search-field .default{
                color:#666666
                }
            .chosen-container-multi .chosen-choices li.search-choice{
                position:relative;
                margin:3px 0 3px 5px;
                padding:3px 20px 3px 5px;
                border:1px solid #aaa;
                border-radius:3px;
                background-color:#e4e4e4;
                background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));
                background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-clip:padding-box;
                box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);
                color:#333;
                line-height:13px;
                cursor:default
                }
            .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
                position:absolute;
                top:4px;
                right:3px;
                display:block;
                width:12px;
                height:12px;
                background:url(chosen-sprite.png) -42px 1px no-repeat;
                font-size:1px
                }
            .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{
                background-position:-42px -10px
                }
            .chosen-container-multi .chosen-choices li.search-choice-disabled{
                padding-right:5px;
                border:1px solid #ccc;
                background-color:#e4e4e4;
                background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));
                background-image:-webkit-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:-moz-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:-o-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                background-image:linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
                color:#666
                }
            .chosen-container-multi .chosen-choices li.search-choice-focus{
                background:#d4d4d4
                }
            .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{
                background-position:-42px -10px
                }
            .chosen-container-multi .chosen-results{
                margin:0;
                padding:0
                }
            .chosen-container-multi .chosen-drop .result-selected{
                display:list-item;
                color:#ccc;
                cursor:default
                }
            .chosen-container-active.chosen-with-drop .chosen-single div{
                border-left:0;
                background-position:0 0;

                }
            .chosen-container-active.chosen-with-drop .chosen-single div b{
                background-position:-18px 4px
                }
            .chosen-container-active .chosen-choices{
                border:1px solid #5897fb;
                box-shadow:0 0 5px rgba(0,0,0,.3)
                }
            .chosen-container-active .chosen-choices li.search-field input[type=text]{
                color:#111!important
                }
            .chosen-disabled{
                opacity:.5!important;
                cursor:default
                }
            .chosen-disabled .chosen-choices .search-choice .search-choice-close,.chosen-disabled .chosen-single{
                cursor:default
                }
            .chosen-rtl{
                text-align:right
                }
            .chosen-rtl .chosen-single{
                overflow:visible;
                padding:0 8px 0 0
                }
            .chosen-rtl .chosen-single span{
                margin-right:0;
                margin-left:26px;
                direction:rtl
                }
            .chosen-rtl .chosen-single-with-deselect span{
                margin-left:38px
                }
            .chosen-rtl .chosen-single div{
                right:auto;
                left:3px
                }
            .chosen-rtl .chosen-single abbr{
                right:auto;
                left:26px
                }
            .chosen-rtl .chosen-choices li{
                float:right
                }
            .chosen-rtl .chosen-choices li.search-field input[type=text]{
                direction:rtl
                }
            .chosen-rtl .chosen-choices li.search-choice{
                margin:3px 5px 3px 0;
                padding:3px 5px 3px 19px
                }
            .chosen-rtl .chosen-choices li.search-choice .search-choice-close{
                right:auto;
                left:4px
                }
            .chosen-rtl .chosen-drop,.chosen-rtl.chosen-container-single-nosearch .chosen-search{
                left:9999px
                }
            .chosen-rtl.chosen-container-single .chosen-results{
                margin:0 0 4px 4px;
                padding:0 4px 0 0
                }
            .chosen-rtl .chosen-results li.group-option{
                padding-right:15px;
                padding-left:0
                }
            .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{
                border-right:0
                }
            .chosen-rtl .chosen-search input[type=text]{
                padding:4px 5px 4px 20px;
                background:#fff url(chosen-sprite.png) no-repeat -30px -20px;
                background:url(chosen-sprite.png) no-repeat -30px -20px,-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
                background:url(chosen-sprite.png) no-repeat -30px -20px,-webkit-linear-gradient(#eee 1%,#fff 15%);
                background:url(chosen-sprite.png) no-repeat -30px -20px,-moz-linear-gradient(#eee 1%,#fff 15%);
                background:url(chosen-sprite.png) no-repeat -30px -20px,-o-linear-gradient(#eee 1%,#fff 15%);
                background:url(chosen-sprite.png) no-repeat -30px -20px,linear-gradient(#eee 1%,#fff 15%);
                direction:rtl
                }
            .chosen-rtl.chosen-container-single .chosen-single div b{
                background-position:6px 2px
                }
            .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{
                background-position:-12px 2px
                }
    /* Fancybox */
        .fancybox-wrap,
        .fancybox-skin,
        .fancybox-outer,
        .fancybox-inner,
        .fancybox-image,
        .fancybox-wrap iframe,
        .fancybox-wrap object,
        .fancybox-nav,
        .fancybox-nav span,
        .fancybox-tmp
        {
            padding: 0;
            margin: 0;
            border: 0;
            outline: none;
            vertical-align: top;
        }

        .fancybox-wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8020;
        }

        .fancybox-skin {
            position: relative;
            color: #444;
            text-shadow: none;
        }

        .fancybox-opened {
            z-index: 8030;
        }

        .fancybox-opened .fancybox-skin {
            -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
               -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        }

        .fancybox-outer, .fancybox-inner {
            position: relative;
        }

        .fancybox-inner {
            overflow: hidden;
        }

        .fancybox-type-iframe .fancybox-inner {
            -webkit-overflow-scrolling: touch;
        }

        .fancybox-error {
            color: #444;
            font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
            margin: 0;
            padding: 15px;
            white-space: nowrap;
        }

        .fancybox-image, .fancybox-iframe {
            display: block;
            width: 100%;
            height: 100%;
        }

        .fancybox-image {
            max-width: 100%;
            max-height: 100%;
        }

        #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
            background-image: url('../plugins/Fancybox/img/fancybox_sprite.png');
        }

        #fancybox-loading {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -22px;
            margin-left: -22px;
            background-position: 0 -108px;
            opacity: 0.8;
            cursor: pointer;
            z-index: 8060;
        }

        #fancybox-loading div {
            width: 44px;
            height: 44px;
            background: url('../plugins/Fancybox/img/fancybox_loading.gif') center center no-repeat;
        }

        .fancybox-close {
            position: absolute;
            top: -18px;
            right: -18px;
            width: 36px;
            height: 36px;
            cursor: pointer;
            z-index: 8040;
        }

        .fancybox-nav {
            position: absolute;
            top: 0;
            width: 40%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
            background: transparent url('img/blank.gif'); /* helps IE */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            z-index: 8040;
        }

        .fancybox-prev {
            left: 0;
        }

        .fancybox-next {
            right: 0;
        }

        .fancybox-nav span {
            position: absolute;
            top: 50%;
            width: 36px;
            height: 34px;
            margin-top: -18px;
            cursor: pointer;
            z-index: 8040;
            visibility: hidden;
        }

        .fancybox-prev span {
            left: 10px;
            background-position: 0 -36px;
        }

        .fancybox-next span {
            right: 10px;
            background-position: 0 -72px;
        }

        .fancybox-nav:hover span {
            visibility: visible;
        }

        .fancybox-tmp {
            position: absolute;
            top: -99999px;
            left: -99999px;
            visibility: hidden;
            max-width: 99999px;
            max-height: 99999px;
            overflow: visible !important;
        }

        /* Overlay helper */

        .fancybox-lock {
            overflow: hidden !important;
            width: auto;
        }

        .fancybox-lock body {
            overflow: hidden !important;
        }

        .fancybox-lock-test {
            overflow-y: hidden !important;
        }

        .fancybox-overlay {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            display: none;
            z-index: 8010;
            background: rgba(0, 0, 0, 0.9);
        }

        .fancybox-overlay-fixed {
            position: fixed;
            bottom: 0;
            right: 0;
        }

        .fancybox-lock .fancybox-overlay {
            overflow: auto;
            overflow-y: scroll;
        }

        /* Title helper */

        .fancybox-title {
            visibility: hidden;
            font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
            position: relative;
            text-shadow: none;
            z-index: 8050;
        }

        .fancybox-opened .fancybox-title {
            visibility: visible;
        }

        .fancybox-title-float-wrap {
            position: absolute;
            bottom: 0;
            right: 50%;
            margin-bottom: -35px;
            z-index: 8050;
            text-align: center;
        }

        .fancybox-title-float-wrap .child {
            display: inline-block;
            margin-right: -100%;
            padding: 2px 20px;
            background: transparent; /* Fallback for web browsers that doesn't support RGBa */
            background: rgba(0, 0, 0, 0.8);
            -webkit-border-radius: 15px;
               -moz-border-radius: 15px;
                    border-radius: 15px;
            text-shadow: 0 1px 2px #222;
            color: #FFF;
            font-weight: bold;
            line-height: 24px;
            white-space: nowrap;
        }

        .fancybox-title-outside-wrap {
            position: relative;
            margin-top: 10px;
            color: #fff;
        }

        .fancybox-title-inside-wrap {
            padding-top: 10px;
        }

        .fancybox-title-over-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            padding: 10px;
            background: #000;
            background: rgba(0, 0, 0, .8);
        }

        /*Retina graphics!*/
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
               only screen and (min--moz-device-pixel-ratio: 1.5),
               only screen and (min-device-pixel-ratio: 1.5){

            #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
                background-image: url('../plugins/Fancybox/img/fancybox_sprite@2x.png');
                background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
            }

            #fancybox-loading div {
                background-image: url('../plugins/Fancybox/img/fancybox_loading@2x.gif');
                background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
            }
        }
    /* jScrollPane */
        .jspContainer
        {
            overflow: hidden;
            position: relative;
        }

        .jspPane
        {
            position: absolute;
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            -ms-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;  
        }

        .jspVerticalBar
        {
            position: absolute;
            top: 0;
            right: 0;
            width: 0px;
            height: 100%;
        }

        .jspHorizontalBar
        {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8px;
        }

        .jspVerticalBar *,
        .jspHorizontalBar *
        {
            margin: 0;
            padding: 0;
            /* fix IE 7,8 to work with jQuery fadeIn/Out */
            opacity:1
        }

        .jspDrag
        {
            background: #666;
            position: relative;
            top: 0;
            left: 0;
            cursor: pointer;
            border-radius:5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;     
            -ms-border-radius:5px;          
            -o-border-radius:5px;               
        }

        .jspCap
        {
            display: none;
        }

        .jspHorizontalBar .jspCap
        {
            float: left;
        }

        .jspTrack
        {
            position: relative;
        }

        .jspDrag
        {
            background: rgba(0,0,0,0.5);
            position: relative;
            top: 0;
            left: 0;
            cursor: pointer;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            margin-left: -10px;   
            width: 8px;
        }
        .jspDrag:active{
            cursor: pointer;
        }

        .jspHorizontalBar .jspTrack,
        .jspHorizontalBar .jspDrag
        {
            float: left;
            height: 100%;
        }

        .jspArrow
        {
            background: #50506d;
            text-indent: -20000px;
            display: block;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

        .jspArrow.jspDisabled
        {
            cursor: default;
            background: #80808d;
        }

        .jspVerticalBar .jspArrow
        {
            height: 16px;
        }

        .jspHorizontalBar .jspArrow
        {
            width: 7px;
            float: left;
            height: 100%;
        }

        .jspVerticalBar .jspArrow:focus
        {
            outline: none;
        }

        .jspCorner
        {
            background: #eeeef4;
            float: left;
            height: 100%;
        }

        /* Yuk! CSS Hack for IE6 3 pixel bug :( */
        * html .jspCorner
        {
            margin: 0 -3px 0 0;
        }

    /* Estilos Específicos deste site, favor não mexer nos estilos acima pois são do funcionamento dos plugins */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

    html,
    button,
    input,
    select,
    textarea {
        color: #222;
    }

    body {
        font-size: 1em;
        line-height: 1.4;
        width: auto;
    }

    ::-moz-selection {
        background: rgba(179, 212, 252, 0.5);
        text-shadow: none;
    }

    ::selection {
        background: rgba(179, 212, 252, 0.5);
        text-shadow: none;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    img {
        vertical-align: middle;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    a{text-decoration: none;}
    a:hover{text-decoration: underline;}

    textarea {
        resize: none;
    }
    textarea, input {outline: none; }

    ::-webkit-input-placeholder {/* WebKit browsers */
        color: inherit;
    }
    :-moz-placeholder {/* Mozilla Firefox 4 to 18 */
        color: inherit;
    }
    ::-moz-placeholder {/* Mozilla Firefox 19+ */
        color: inherit;
    }
    :-ms-input-placeholder {/* Internet Explorer 10+ */
        color: inherit;
    }
    li{
        list-style: none;
        padding: 0
    }
    input, button{
        border: 0;
    }

/* ==========================================================================
   @ Template
========================================================================== */

    html, body, #wrapper {height: 100%;}
    body > #wrapper      {height: auto; min-height: 100%;}


    #wrapper{
        position: relative;
    }        
    #header {
        position: static;
        height: 160px
        }

    #content {
        padding-bottom: 320px; /* footer height */
        }


    #footer {
        background: #516f40;
        position: relative;
        margin-top: -320px; /* footer height */
        height: 320px;
        clear:both;
        bottom: 
    }

/* ==========================================================================
   INTERNAS
========================================================================== */

/* ==========================================================================
   Media Queries
========================================================================== */

    @media only screen and (min-width: 35em) {

    }

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
           only screen and (min-resolution: 144dpi) {

    }

    @media \0screen {
      img {
        width: auto; /* for ie 8 */
      }
    }

/* ==========================================================================
   Helper classes
========================================================================== */
   
    .container {
        margin: 0 auto;
        width: 960px;
        position: relative;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }

    .hidden {
        display: none !important;
        visibility: hidden;
    }

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

    .invisible {
        visibility: hidden;
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        *zoom: 1;
    }

    .break-word {
        word-wrap: break-word;
    }

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }

/* ==========================================================================
   Print styles
========================================================================== */

    @media print {
        * {
            background: transparent !important;
            color: #000 !important; /* Black prints faster: h5bp.com/s */
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        /*
         * Don't show links for images, or javascript/internal links
         */

        .ir a:after,
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group; /* h5bp.com/t */
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        @page {
            margin: 0.5cm;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }