@media (max-width: $grid-float-breakpoint-max) {
    .mobile-only{
       display: initial;
    }
    .desktop-only{
        display: none;
    }
}
@media (min-width: $grid-float-breakpoint) {
    .mobile-only{
       display: none;
    }
    .desktop-only{
        display: initial;
    }
}