/* ==========================================================================
   Cor do texto selecionado
========================================================================== */
::-moz-selection {
        background: rgba(179, 212, 252, 0.5);
        text-shadow: none;
    }

    ::selection {
        background: rgba(179, 212, 252, 0.5);
        text-shadow: none;
    }