/* ==========================================================================
   Plugins
========================================================================== */

    /* Estilos Específicos deste site */

/* ==========================================================================
   @ Template
========================================================================== */

html, body{height: 100%;}


#wrapper{
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  #content {
    @extend .container;
  }
}




/* ==========================================================================
   INTERNAS
========================================================================== */

