/* ==========================================================================
   Plugins
========================================================================== */    

    /* Estilos Específicos deste site */

/* ==========================================================================
   @ Template
========================================================================== */

    html, body, #wrapper {height: 100%;}
    body > #wrapper      {height: auto; min-height: 100%;}


    #wrapper{
        position: relative;
    }        

    #content {
        @extend .container;
        
    }


/* ==========================================================================
   INTERNAS
========================================================================== */

